# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.zip
*.c~
*.ihx
*.lk
*.map
*.mem
*.lst
*.rel
*.asm
*.rst

.directory
test*
ds18b20